<div class="card card-lift--hover shadow border-0">
    <div class="card-body py-5">
      <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
        <i class="ni ni-check-bold"></i>
      </div>
      <h6 class="text-primary text-uppercase">Card : {{title}}</h6>
      <div>
        <span class="badge badge-pill badge-warning" style="margin-right:5px; cursor: pointer; " (click)="onSelect(title)">angulafdfdfdfdfr</span>
        <span class="badge badge-pill badge-primary" style="cursor: pointer;" placement="top" ngbTooltip="Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for our collapse plugin.Tooltip on top">ng-bootstrap</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
        <span class="badge badge-pill badge-primary">creative</span>
      </div>
    </div>
  </div>